<app-default-signin-layout
  title="Sign up and start today!"
  primaryBtnText="Sign Up Now"
  secondaryBtnText="Login Now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!signUpForm.valid"
>
  <form [formGroup]="signUpForm">
    <app-primary-input
      formControlName="name"
      inputName="name"
      type="text"
      label="Your Name"
      placeholder="Enter your name"
    >
      <img src="/assets/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeholder="Enter your email address"
    >
      <img src="/assets/email-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      label="Password"
      placeholder="Enter your password"
    >
      <img src="/assets/password-icon.svg" />
    </app-primary-input>
    <app-primary-input
      formControlName="passwordConfirm"
      inputName="passwordConfirm"
      type="password"
      label="Password Confirmation"
      placeholder="Enter the above password"
    >
      <img src="/assets/password-icon.svg" />
    </app-primary-input>
  </form>
</app-default-signin-layout>
